{% extends 'base.html.twig' %}

{% block title %}Carrito{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        .btn-container {
            margin-top: 20px;
        }
    </style>
{% endblock %}

{% block body %}
    <div class="container">
        <h1>Carrito</h1>

        {% if productos is not empty %}
            <table class="table">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Nombre</th>
                        <th>Precio</th>
                        <th>Descripción</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    {% for producto in productos %}
                        <tr>
                            <td>{{ producto.id }}</td>
                            <td>{{ producto.nombre }}</td>
                            <td>{{ producto.precio }}</td>
                            <td>{{ producto.descripcion }}</td>
                            <td>
                                <a href="{{ path('app_eliminar_del_carrito', {'id': producto.id}) }}" class="btn btn-danger">Eliminar</a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% else %}
            <p>No hay productos en el carrito.</p>
        {% endif %}
    </div>
{% endblock %}

